@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark font-sans flex w-full h-full;
  background: #050011;
}
body {
  @apply dark absolute h-full w-full overflow-hidden tracking-tighter antialiased text-white;
  background: #050011;
}

.manual-y-center::before,
.manual-y-center::after {
  content: '';
  margin: auto;
}

.halo-text {
  text-shadow: 0 0 5px #ffffff;
}

.sc-ecPEgm.fZsfzy {
  @apply pointer-events-none;
}
