@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark font-sans flex w-full h-full;
  background: #050011;
}
body {
  @apply dark absolute h-full w-full overflow-hidden tracking-tighter antialiased text-white;
  background: #050011;
}

.manual-y-center::before,
.manual-y-center::after {
  content: '';
  margin: auto;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrow {
  -moz-appearance: textfield;
}

.halo-text {
  text-shadow: 0 0 10px #00ffff;
}

.halo-button {
  animation: button-pulse 2s infinite;
}

@keyframes button-pulse {
  0% {
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
  }
  50% {
    border: 1px solid #00ffff;
    box-shadow: 0 0 0px #00ffff;
  }
  100% {
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
  }
}

.halo-polygon {
  @apply animate-pulse;
  filter: drop-shadow(0 0 5px #00ffff);
}

.rainbow-button::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: 36px;
  width: 84px;
  background: #ff0000;
  z-index: -1;
  border-radius: 8px;
  transition: 0.3s;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  50% {
    filter: hue-rotate(350deg);
  }
}

.loading-button::before {
  position: absolute;
  content: '';
  top: 5px;
  left: -20px;
  width: 150%;
  height: 70%;
  background: #ffffff;
  z-index: -1;
  transform: rotate(45deg);
  animation: loading 3s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  @apply overflow-hidden pointer-events-none;
  background: #050011;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 0.5px;
  width: 0.5px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow:
    41vw 36vh 0px 1px #fff,
    36vw -34vh 0px 0px #fff,
    14vw 49vh 1px 1px #fff,
    48vw 34vh 0px 0px #fff,
    37vw 47vh 0px 0px #fff,
    -8vw -45vh 0px 0px #fff,
    -41vw -17vh 0px 1px #fff,
    -42vw 36vh 1px 0px #fff,
    11vw -12vh 1px 1px #fff,
    -14vw 25vh 0px 0px #fff,
    -34vw -21vh 0px 0px #fff,
    -26vw 4vh 0px 1px #fff,
    28vw 37vh 0px 1px #fff,
    39vw 28vh 1px 0px #fff,
    30vw 4vh 1px 0px #fff,
    -5vw -12vh 1px 0px #fff,
    3vw -12vh 0px 0px #fff,
    -49vw 1vh 1px 0px #fff,
    46vw 30vh 1px 0px #fff,
    29vw 14vh 0px 0px #fff,
    -13vw -12vh 0px 0px #fff,
    8vw -34vh 0px 1px #fff,
    -7vw 28vh 0px 0px #fff,
    40vw -15vh 0px 0px #fff,
    29vw 6vh 1px 0px #fff,
    -15vw 4vh 0px 1px #fff,
    -27vw 38vh 1px 1px #fff,
    -39vw 0vh 1px 0px #fff,
    8vw 20vh 0px 0px #fff,
    -38vw -8vh 0px 0px #fff,
    10vw 17vh 0px 0px #fff,
    18vw -35vh 1px 0px #fff,
    31vw -3vh 0px 0px #fff,
    41vw -26vh 1px 1px #fff,
    -43vw -20vh 0px 1px #fff,
    7vw 2vh 1px 0px #fff,
    2vw -40vh 0px 1px #fff,
    29vw 48vh 1px 0px #fff,
    -38vw -8vh 1px 0px #fff,
    -41vw 40vh 1px 1px #fff,
    26vw -37vh 0px 0px #fff,
    -36vw 18vh 1px 0px #fff,
    -46vw 4vh 0px 0px #fff,
    1vw 12vh 0px 0px #fff,
    -14vw 34vh 0px 1px #fff,
    16vw -5vh 1px 0px #fff,
    0vw -21vh 0px 0px #fff,
    10vw -15vh 0px 0px #fff,
    49vw -10vh 1px 1px #fff,
    17vw 23vh 0px 0px #fff,
    49vw 5vh 0px 0px #fff,
    39vw -9vh 0px 0px #fff,
    -18vw 31vh 1px 1px #fff,
    -41vw -3vh 1px 1px #fff,
    -13vw 17vh 0px 0px #fff,
    -11vw -31vh 0px 0px #fff,
    -3vw 2vh 0px 1px #fff,
    -39vw -29vh 1px 0px #fff,
    -17vw 28vh 1px 0px #fff,
    24vw 32vh 1px 0px #fff,
    -39vw -15vh 0px 0px #fff,
    -37vw -9vh 0px 0px #fff,
    -47vw -49vh 1px 0px #fff,
    -19vw -35vh 1px 0px #fff,
    -16vw 28vh 1px 0px #fff,
    -8vw -7vh 1px 0px #fff,
    3vw 23vh 1px 0px #fff,
    44vw -43vh 0px 0px #fff,
    23vw -7vh 1px 1px #fff,
    -27vw 21vh 0px 0px #fff,
    32vw 31vh 0px 1px #fff,
    -13vw 50vh 0px 1px #fff,
    28vw -37vh 0px 0px #fff,
    34vw -12vh 0px 0px #fff,
    19vw 3vh 0px 0px #fff,
    -44vw 47vh 0px 1px #fff,
    -29vw 6vh 1px 1px #fff,
    -41vw -47vh 0px 0px #fff,
    -45vw 8vh 0px 0px #fff,
    12vw -7vh 1px 0px #fff,
    -45vw 8vh 1px 0px #fff,
    -2vw 14vh 0px 1px #fff,
    -49vw -23vh 0px 1px #fff,
    -43vw 35vh 1px 0px #fff,
    -27vw 45vh 1px 1px #fff,
    39vw 3vh 1px 0px #fff,
    19vw 20vh 0px 0px #fff,
    -35vw -41vh 1px 1px #fff,
    -24vw 49vh 1px 1px #fff,
    -30vw 26vh 0px 0px #fff,
    -14vw 33vh 0px 0px #fff,
    19vw 17vh 1px 0px #fff,
    -44vw -44vh 1px 0px #fff,
    -44vw 43vh 1px 0px #fff,
    -28vw -49vh 0px 1px #fff,
    48vw 32vh 0px 0px #fff,
    -18vw 18vh 1px 0px #fff,
    -28vw -25vh 1px 0px #fff,
    -6vw 37vh 0px 0px #fff,
    27vw 38vh 0px 1px #fff,
    -38vw 48vh 0px 1px #fff,
    -37vw 26vh 0px 0px #fff,
    11vw 39vh 0px 0px #fff,
    -50vw 36vh 0px 1px #fff,
    35vw -9vh 0px 0px #fff,
    -10vw -49vh 0px 0px #fff,
    14vw -15vh 0px 1px #fff,
    -30vw -17vh 0px 0px #fff,
    -29vw -17vh 0px 0px #fff,
    22vw -8vh 0px 0px #fff,
    -2vw -45vh 1px 0px #fff,
    -42vw -4vh 0px 1px #fff,
    -25vw -22vh 0px 0px #fff,
    48vw 23vh 1px 0px #fff,
    36vw -49vh 0px 0px #fff,
    -6vw 38vh 0px 0px #fff,
    1vw -39vh 0px 1px #fff,
    18vw -31vh 0px 0px #fff,
    25vw -2vh 0px 1px #fff,
    24vw -47vh 1px 0px #fff,
    -21vw -13vh 1px 0px #fff,
    -47vw -32vh 1px 1px #fff,
    18vw 42vh 1px 1px #fff,
    -5vw 37vh 0px 0px #fff,
    31vw 8vh 0px 0px #fff,
    -20vw -8vh 0px 1px #fff,
    19vw 25vh 0px 0px #fff,
    -21vw 41vh 0px 1px #fff,
    2vw -35vh 0px 1px #fff,
    47vw -3vh 1px 1px #fff,
    29vw -47vh 0px 0px #fff,
    -8vw 46vh 0px 0px #fff,
    32vw 12vh 1px 1px #fff,
    -5vw -1vh 1px 1px #fff,
    -17vw 30vh 1px 0px #fff,
    -1vw -43vh 1px 1px #fff,
    20vw 22vh 0px 1px #fff,
    -47vw -10vh 0px 0px #fff,
    14vw 39vh 0px 0px #fff,
    -44vw 43vh 0px 1px #fff,
    31vw -28vh 1px 0px #fff,
    35vw 15vh 1px 0px #fff,
    1vw -21vh 0px 0px #fff,
    -46vw 12vh 0px 0px #fff,
    3vw 28vh 0px 1px #fff,
    20vw 23vh 1px 1px #fff,
    44vw 25vh 0px 0px #fff,
    -39vw -30vh 0px 1px #fff,
    -3vw -18vh 0px 0px #fff,
    17vw 48vh 0px 1px #fff,
    -48vw 6vh 0px 0px #fff,
    29vw -41vh 0px 0px #fff,
    -7vw -39vh 0px 0px #fff,
    -45vw 29vh 0px 1px #fff,
    19vw 34vh 1px 1px #fff,
    8vw -20vh 1px 1px #fff,
    -38vw -29vh 1px 1px #fff,
    20vw 17vh 0px 1px #fff,
    -43vw 22vh 0px 0px #fff,
    -45vw -49vh 1px 0px #fff,
    21vw -18vh 1px 0px #fff,
    28vw -13vh 0px 1px #fff,
    29vw -15vh 0px 0px #fff,
    21vw -8vh 0px 0px #fff,
    36vw -23vh 1px 0px #fff,
    -20vw 8vh 0px 0px #fff,
    -24vw -39vh 1px 0px #fff,
    -16vw -20vh 0px 0px #fff,
    -19vw 3vh 0px 0px #fff,
    -16vw -3vh 1px 0px #fff,
    -27vw -46vh 0px 0px #fff,
    38vw -13vh 0px 0px #fff,
    -30vw 3vh 1px 0px #fff,
    -35vw -24vh 0px 0px #fff,
    11vw 24vh 1px 0px #fff,
    42vw -5vh 1px 0px #fff,
    -8vw 6vh 0px 0px #fff,
    -31vw 17vh 0px 0px #fff,
    -39vw -7vh 1px 0px #fff,
    34vw -47vh 1px 1px #fff,
    16vw -11vh 1px 0px #fff,
    24vw 9vh 0px 0px #fff,
    -46vw -22vh 0px 1px #fff,
    31vw 26vh 1px 1px #fff,
    9vw -50vh 0px 1px #fff,
    -44vw -16vh 0px 0px #fff,
    37vw 3vh 0px 0px #fff,
    -44vw 45vh 1px 0px #fff,
    40vw 33vh 0px 0px #fff,
    -30vw -12vh 1px 0px #fff,
    -44vw 6vh 0px 0px #fff,
    2vw 23vh 0px 0px #fff,
    -3vw -29vh 1px 0px #fff,
    -26vw -33vh 0px 1px #fff,
    46vw -17vh 0px 0px #fff,
    38vw 15vh 0px 0px #fff,
    32vw -6vh 1px 0px #fff,
    -39vw -36vh 0px 0px #fff,
    -3vw 11vh 0px 0px #fff,
    49vw -26vh 1px 0px #fff;
  animation: zoom 20s alternate infinite;
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(30deg) scale(1.4);
    -ms-transform: rotate(30deg) scale(1.4);
    transform: rotate(30deg) scale(1.4);
  }
}
